%html
 %head
  %title ktest.heroku.com help

 %body
  #container
   #header
    %h1 help: ktest.heroku.com
   #main 
   #content
    %strong Getting Started
    %p ...
     
   #footer Rando Media LLC
