%html
 %head
  %title Trails Sandbox
 %body
  %script{:type => "text/javascript"}
   var d=document;
   var s=d.createElement('script');
   s.text="KOBJ_config={'init':{"+
   "'eval_host':'64.55.47.131:8082',"+
   "'callback_host':'64.55.47.131:8082',"+
   "'init_host':'64.55.47.131:8082'},"+
   "'a1764x6:kynetx_app_version':'dev',"+
   "'rids':['a1764x6']"+
   "};";
   d.body.appendChild(s);
   var l=d.createElement('script');
   l.src='http://init.kobj.net/js/shared/kobj-static.js';
   d.body.appendChild(l);
  #header
  #main
  #footer
   Rando Media
  
